<h1>Hello</h1>
<hero name="Joe" [age]="99"></hero>
<hero name="Tony" [age]="26"></hero>
<hero name="Sam" [age]="42"></hero>
<hr>
<hero-list></hero-list>

<tony></tony>
<hr>
**EXPIREMENTAL USE OF IMMUTABLE.JS LIBRARY**
<br>
Name: {{jsonData?.getIn([0,'name'])}} Email: {{jsonData?.getIn([0,'email'])}} <br>
Address: {{jsonData?.getIn([0,'address', 'street'])}} {{jsonData?.getIn([0,'address', 'city'])}} {{jsonData?.getIn([0,'address', 'zipcode'])}}
<hr>
<immutable-data
[data]="heroService.jsonData$ | async">
</immutable-data>
<hr>
<simple-counter></simple-counter>
<hr>
Service Counter #1 <br>
<service-counter></service-counter>
<hr>
Service Counter #2 <br>
<service-counter></service-counter>
<hr>
Observable Data Service / Presentational Counter Component <br>
<presentational-counter
[counter]="observableCounterService.counter$ | async"
(increment)="observableCounterService.increment($event)"
(decrement)="observableCounterService.decrement($event)"
(reset)="observableCounterService.reset($event)">
</presentational-counter>
<hr>
Redux Store (@ngrx/store) / Presentational Counter Component <br>
<presentational-counter
[counter]="storeService.counter | async"
(increment)="storeService.increment($event)"
(decrement)="storeService.decrement($event)"
(reset)="storeService.reset($event)">
</presentational-counter>
<br><br><hr>
<nav>
    <a routerLink="/hero-list" routerLinkActivate="active">Hero List</a>
    <a routerLink="/simple-counter" routerLinkActive="active">Simple Counter</a>
    <a routerLink="/service-counter" routerLinkActive="active">Service Counter</a>
    <a routerLink="/tony" routerLinkActive="active"> Tony Component</a>
</nav>
<router-outlet>
<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m">
</ngrx-store-log-monitor>
